<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> WebSSH </title>
    <link href="bootstrap-4.3.0/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="xterm-3.14.5/xterm.css" rel="stylesheet" type="text/css"/>
    <link href="xterm-3.14.5/addons/fullscreen/fullscreen.css" rel="stylesheet" type="text/css"/>
    <style>
        .row {
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .container {
            margin-top: 20px;
        }

        .btn {
            margin-top: 10px;
        }

        .btn-danger {
            margin-left: 5px;
        }
    </style>
</head>
<body>
<div class="container">
    <form id="connect" action="" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <label for="Hostname">Hostname</label>
                <input class="form-control" type="text" id="hostname" name="hostname" value="" required>
            </div>
            <div class="col">
                <label for="Port">Port</label>
                <input class="form-control" type="number" id="port" name="port" placeholder="22" value="" min=1 max=65535>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="Username">Username</label>
                <input class="form-control" type="text" id="username" name="username" value="" required>
            </div>
            <div class="col">
                <label for="Password">Password</label>
                <input class="form-control" type="password" id="password" name="password" value="" required>
            </div>
        </div>
        <button type="submit" id= "submit" class="btn btn-primary">Connect</button>
        <button type="reset" id="reset" class="btn btn-danger">Reset</button>
    </form>

</div>

<div class="container">
    <div id="status" style="color: red;"></div>
    <div id="terminal"></div>
</div>

<!--<script src="jquery-2.2.3/jquery.min.js"></script>-->
<script src="jquery-3.3.1/jquery.min.js"></script>
<script src="bootstrap-4.3.0/bootstrap.min.js"></script>
<script src="xterm-3.14.5/xterm.js"></script>
<script src="xterm-3.14.5/addons/fullscreen/fullscreen.js"></script>
<script src="xterm-3.14.5/addons/attach/attach.js"></script>
<script src="js/index.js"></script>
</body>
</html>
